.main-wrapper {
    width: 600px;
    padding-top: 60px;
    margin: 0 auto;
}

.preview {
    display: none;
}

.preview-images:after {
    content: " ";
    display: table;
    clear: both;
}

.preview-img {
    float: left;
    border: 1px solid #ddd;
    margin: 0 15px 15px 0;
    max-width: 320px;
    max-height: 240px;
}
